/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* General Container Padding */
.container {
    padding: 20px;
}

/* Headings */
h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 2.5rem;
}

/* Paragraphs */
p {
    text-align: justify;
    margin: 20px 0;
    line-height: 1.6; 
    font-size: 0.90rem;
}

li {
    text-align: justify;
}

/* Contact Page Specific Styles */
.contact-header {
    font-size: 2.8rem;
    color: #555;
}

.highlight-text {
    color: #008cba;
}

/* Responsive Styles */

/* Medium Screens (>= 576px and < 768px) */

/*
  Name: Brandon Morales Cordoba
  ID: 30085204
  Date: 2024-08-22
*/
